<form class="text-center" (ngSubmit)="onSubmit()" [formGroup]="loginForm" name="loginForm">
  <p class="text-dark">Sign In to your account</p>
  <ion-list>
    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input [(ngModel)]="userModel.email" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true"
        inputmode="text" type="email" placeholder="Enter your email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
      <ion-icon name="person-outline" class="input-ionic-icon"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Password</ion-label>
      <ion-input [(ngModel)]="userModel.password" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true"
        inputmode="password" type="password" placeholder="Enter your password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" ></ion-input>
      <ion-icon name="key-outline" class="input-ionic-icon"></ion-icon>
    </ion-item>
  </ion-list>
  <br>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="text-light col-12 btn btn-info" >Sign In</button>
    </div>
    <br><br>
    <div class="col-9 text-right">
      <a class="text-info px-0">Forgot password?</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h6>Don`t have an account? <a class="text-info" [routerLink]="['/register']">Sign Up</a></h6>
    </div>
  </div>
</form>